<tr>
  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0"><%= active_session.user_agent %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= active_session.ip_address %></td>
  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= active_session.created_at %></td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-0"><%= button_to "Sign Out", active_session_path(active_session), method: :delete, class: "text-indigo-600 hover:text-indigo-900" %></td>
</tr>
